
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
.DS_Store
work_dir/
*.log
data/default_configs/
*.pdb
*.fasta
*.json
!tools/**/config.json
!data/default_config.json
